body {
  background-color: #e0f7fa;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.heading {
  display: flex;
  align-items: center;
}

.heading img {
  height: 6rem;
  margin-right: 20px;
}

.leaderboard-name {
  font-size: 2rem;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 40px;
}

.menu a {
  color: #007bff;
  text-decoration: none;
  margin: 10px 0;
}

.menu a.active {
  text-decoration: underline;
  font-weight: bold;
}

.leaderboard {
  width: 70%;
  border-collapse: collapse;
  background-color: #fff;
  border: 1px solid #000;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  background-color: #00468b;
  color: #d0f6fb;
  padding: 10px;
}

tbody td {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.back-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #00468b;
  color: white;
  border: none;
  cursor: pointer;
}

.back-button:hover {
  background-color: #003366;
}
